

.header, .footer {
  padding: 2em;  
  display:flex;  
 
}

.header h1 {
  font-size: 30px;
  text-align: center;
}

.banner{
  width: 95%;
}

.settings{
  display: flex;
  justify-content: space-between;
  width: 5%;
  
}
/* Page Content */
